<!-- The main content area -->
<main id="main" role="main">

	<!--HOME-INTRO-->
	<section class="home-intro">
		<div class="container">
	        <div class="row">
	            <div class="col-lg-12">
	            	<div class="inner d-flex align-items-start flex-column justify-content-center h-100">
						<div class="row">
							<div class="col-md-12">
								<h1>Living Work</h1>
								<p class="teaser-1">"We noted all things, and wrote them down." — Qur'an 78:29</p>
							</div>
							<canvas id='world'></canvas>
						</div>
	            	</div>
				</div>
	        </div>
	    </div>
	</section>
	<!--END-HOME-INTRO-->

	<!--HOME-SECTION-1-->
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-color section-1-left">
					<div class="inner d-flex align-items-start flex-column h-100">
						<div class="row">
							<div class="col-md-11 col-lg-10">
								<h3>The Word</h3>
								<p class="p-large">
									It's one long poem of thanks
									<br/>
									for the life I've been given to follow. 
									<br/>
									As simple as that.
								</p>
								<p class="p-large">
									"In the arms of this boundless heart,
									<br/>
									success is nothing,
									<br/>
									mistakes are a cause for laughter,
									<br/>
									good and bad are equally precious.
									<br/>
									And the door into the boundless is sincerity. 
								</p>
								<p class="p-large">
									I have said enough.
									<br/>
									We will find out for ourselves what the truth is of our life.
									<br/>
									There is nothing more important for us to be doing."
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-blue col-offset-top section-1-right">
					<div class="inner d-flex align-items-start flex-column justify-content-center h-100">
						<div class="row">
							<div class="col-lg-11 d-flex align-items-start flex-column">
								<%- image_tag("/img/Ayat_ul_Kursi.jpg") %>
								<a class="home-link" href="https://sufism.org/origins/quran-islam/quranic-chapters/ayat-al-kursi-the-throne-verse-from-the-quran-2" target="_blank" rel="noopener noreferrer">
									Ayat al-Kursi
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--END-HOME-SECTION-1-->

	<!--HOME-SECTION-2-->
	<section>
		<div class="container section-2-left">
			<div class="row">
				<div class="col-md-6 col-blue">
					<div class="inner d-flex align-items-start flex-column h-100">
						<div class="row">
							<div class="col-md-11 col-lg-10">
								<div class="img-holder">
									<iframe width="500" height="320" src="https://www.youtube.com/embed/jmax47l2hLU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-color section-2-right col-offset-top">
					<div class="inner d-flex flex-column h-100">
						<h3>In Song</h3>
						<p class="p-large">
							"There's a blaze of light
							<br/>
							In every word,
							<br/>
							It doesn't matter which you heard;
							<br/>
							The holy or the broken Hallelujah."
						</p>
						<p class="p-large">
							"This is not a life for the holy few
							<br/>
							It is here for us all and it's all for you
							<br/>
							No need to kneel before the Lord of Song
							<br/>
							Just open your mouth and sing along."
						</p>
						<p class="p-large">
							I am the beginning come to its end,
							<br/>
							for death is only the opposite of birth. 
							<br/>
							Life is everlasting.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--END-HOME-SECTION-2-->

	<!--HOME-TEST-->
	<section class="home-intro">
		<div class="container">
	        <div class="row">
	            <div class="col-lg-12">
					<div class="d-flex flex-column">
						<p class="p-large">
							A Poet is someone<br/>
							Who can pour light into a cup,<br/>
							Then raise it to nourish<br/>
							Your beautiful, parched, holy mouth.<br/>
							&nbsp;<br/>
							— Khwāja Shams-ud-Dīn Muḥammad Ḥāfeẓ-e Shīrāzī
						</p>
					</div>
	            	<div class="inner d-flex align-items-start flex-column justify-content-center h-100">
						<div class="circles-col">
							<div class="rotating-circle"></div>
							<div class="rotating-circle rc-2"></div>
							<div class="rotating-circle rc-3"></div>
							<div class="rotating-circle rc-4"></div>
							<div class="rotating-circle rc-5"></div>
							<div class="rotating-circle rc-6"></div>
							<div class="rotating-circle rc-7"></div>
						</div>
	            	</div>
	            </div>
	        </div>
	    </div>
	</section>
	<!--END-HOME-TEST-->

</main>